[user]
	email = douglasfrb@gmail.com
	name = Douglas Brandão

[core]
  editor = vim

[init]
  defaultBranch = main

[alias]
  a = add
  br = branch
  co = checkout
  cm = commit -m
  rs = reset --soft HEAD~1
  rh = reset --hard HEAD~1
  ps = push
  psup = git push --set-upstream origin HEAD
