[user]
	email = douglasfrb@gmail.com
	name = Douglas Brandão

[core]
  editor = vim

[init]
  defaultBranch = main

[alias]
  a = add
  br = branch
  co = checkout
  cob = checkout -b
  cm = commit -m
  cma = commit --amend -m
  rs = reset --soft HEAD~1
  rh = reset --hard HEAD~1
  ps = push
  psup = push --set-upstream origin HEAD
  lc = branch --sort=-committerdate
